aiogram==3.20.0.post0

fastapi==0.116.1
uvicorn[standard]==0.35.0

aiosqlite==0.21.0

pydantic==2.11.7
pydantic-settings==2.10.1

python-dotenv==1.1.1

aiofiles==24.1.0

orjson==3.11.1

httptools==0.6.4
uvloop==0.21.0